
    .container{
    border: 1px solid black;
    padding: 20px;      
     max-width: 30%;
    
    
    }

    .title {
    
        margin-top: 0px;
      display: inline-block;  
      margin-bottom: 10px; 
      padding-bottom: 0px; 
      border-bottom: 2px solid black; 
    }

    .title2{
    
        display: inline-block;  
        margin-bottom: 15px; 
        padding-bottom: 0px; 
        border-bottom: 2px solid black; 
   
    }

    title3 {
    
        display: inline-block;  
        margin-bottom: 10px; 
        padding-bottom: 0px; 
        border-bottom: 2px solid black; 
   
    }

    .images{
       padding-bottom: 8px;

    }

